/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  cursor: url(img/cursor-default.svg), default;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Start of styling*/

.wrapper {
  width: min(100% - 3rem, 75rem);
  margin-inline: auto;
  padding-block: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(310px, 100%), 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 100%));
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5"
    "box6"
    "box7"
    "box9"
    "box8"
    "box10";
  gap: 20px;
}

.profile-window {
  margin: 0;
  min-width: auto;
}

.title-bar .title {
  font-size: clamp(1rem, 8vw + -0.6rem, 1.5rem);
}

.profile-details-bar {
  font-weight: bold;
}

.profile-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  height: auto;
  padding-bottom: 24px;
}

.square {
  max-width: 300px;
  background-color: transparent;
  border: 1.5px solid black;
  overflow: hidden;
}

.dialog-title {
  margin-block-end: 10px;
}

.about > p:not(:last-child) {
  margin-block-end: 10px;
}

.techntools > div {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 25px;
  padding-block: 20px;
}

.techntools img {
  height: 70px;
}

.soft-skills ul {
  padding-left: 20px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin-block: 10px;
}

.timeline-block {
  display: flex;
  flex-direction: column;
}

.timeline-block-title {
  font-weight: bold;
  font-size: 1.125rem;
}

.timeline-block-desc-light {
  opacity: 0.6;
}

.link-block {
  display: flex;
  justify-content: space-between;
}

.link-block .btn {
  padding: 10px;
  width: 50px;
  height: 50px;
  min-height: auto;
  min-width: auto;
}

.link-block .btn > img {
  display: inline-block;
}

::-webkit-scrollbar-button:horizontal:start,
::-webkit-scrollbar-button:horizontal:end {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 23px;
}

.hover-effect {
  scale: 1;
  transition: 0.2s ease-out;
}

.hover-effect:hover {
  scale: 1.03;
  box-shadow: 5px 5px 10px #949494, -5px -5px 10px #ffffff;
}

.profile-window {
  grid-area: box1;
}

.about {
  grid-area: box2;
}

.techntools {
  grid-area: box3;
}

.soft-skills {
  grid-area: box4;
}

.education {
  grid-area: box5;
}

.experience {
  grid-area: box6;
}

.lb1 {
  grid-area: box7;
}

.lb2 {
  grid-area: box8;
}

.lb3 {
  grid-area: box9;
}

.footer {
  grid-area: box10;
}

.btn {
  cursor: url(img/hand-cursor.svg), pointer;
}

@media (min-width: 1025px) {
  .grid {
    grid-template-areas:
      "box1 box2 box2"
      "box1 box3 box3"
      "box4 box5 box6"
      "box7 box9 box8"
      "box10 box10 box10";
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grid {
    grid-template-areas:
      "box1 box2"
      "box3 box3"
      "box4 box5"
      "box6 box7"
      "box6 box9"
      "box10 box8";
  }
}
