/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Start of styling*/

.wrapper {
  width: min(100% - 3rem, 75rem);
  margin-inline: auto;
  padding-block: 30px;
}

.grid{
  display: grid;
  gap: 10px;
}

.profile-window{
  margin: 0;
  min-width: auto;
}

.title-bar .title{
  font-size: clamp(1rem, 8vw + -0.6rem, 1.5rem);
}

.profile-details-bar{
  font-weight: bold;
}

.profile-dialog{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  height: auto;
  padding-bottom: 24px;
}

.square {
  max-width: 300px;
  background-color: transparent;
  border: 1.5px solid black;
  overflow: hidden;
}

.dialog-title{
  margin-block-end: 10px;
}

.about > p:not(:last-child) {
  margin-block-end: 10px;
}

.techntools > div{
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 25px;
  padding-block: 20px;
}

.techntools img{
  height: 70px;
}

.soft-skills ul{
  padding-left: 20px;
}

.timeline{
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin-block: 10px;
}

.timeline-block {
  display: flex;
  flex-direction: column;
}

.timeline-block-title {
  font-weight: bold;
  font-size: 1.125rem;
}

.timeline-block-desc-light{
  opacity: .6;
}

.link-block{
  display: flex;
  justify-content: space-between;
}

.link-block .btn{
  padding: 10px;
  width: 50px;
  height: 50px;
  min-height: auto;
  min-width: auto;
}

.link-block .btn > img{
  display: inline-block;
}

::-webkit-scrollbar-button:horizontal:start,
::-webkit-scrollbar-button:horizontal:end {
  display: none;
}

::-webkit-scrollbar:horizontal{
  height: 23px;
}
